#tasks{
  display: none;
}

/*SIDEBAR*/
  #sidebar {
    background-color: #9ec4f2;
    position: fixed;
    z-index: 1000;
    height: 100vh;
    font-size: 13px;
  }

  #sidebar-groupheader{
    color:  #1C3D86;
    text-decoration: none !important;
    font-size: 13px;
    font-weight: bold;
    text-transform:uppercase;
  }

  .form-check-input {
    display: none;
  }

  .form-check-label {
    cursor: pointer;
    box-shadow: 1px 1px grey;
    margin: 2px;
    padding: 2px 4px;
    border-radius: 8px;
    background-color: #dce2eb88;
    color: #1C3D86;
    font-size: 13px;
    user-select: none;
    transition: background-color 0.01s, color 0.1s;
  }

  .form-check-label:hover {
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.489); 
  }

  .form-check-input:checked + .form-check-label {
    background-color:  #ffffff;
    color:  rgba(0, 0, 0, 0.489);
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.489); 
  }

  #sidebar-footerlink{
    color: #9ec4f2;
  }

  #sidebar-footerlink:hover{
    color: #a1a2a3; 
  }

  #sidebar-footerlink{
    color: #414243;
  }

  /*TOPBAR*/

  #topbar{
    height: 50px;
    position: relative;
    flex-shrink: 0;
    background-color: #c6dbf7;
  }

  #topbar-option{
    color: #1C3D86;
  }

  #topbar-searchicon{
    display: flex;
    margin: 5px;
    align-items: center;
  }

  #topbar-search {
    position: relative;
}

  #topbar-search input {
    border: none;
    outline:  #9ec4f28e;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
  }
  
  #topbar-option:hover, #topbar-option:active {
    color: #1C3D86;
    background-color:  #9ec4f2;
    padding: 5px;
  }

  #topbar-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

    /* SEARCH */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 230px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  .dropdown-content div {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      cursor: pointer;
  }
  
  .dropdown-content div:hover {
      background-color: #f1f1f1;
  }

  #search-results {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
  }

  /* Style für eingebetteten Code */
  pre {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
  }

    /* TOPBAR LOGIN MODAL */
  .nav-tabs {
    border: none;
    background-color: #9ec4f2;
    border-radius: 8px;
    overflow: hidden;
  }

  .nav-tabs .nav-link {
    color: #ffffff;
    background-color: #9ec4f2;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
  }

  .nav-tabs .nav-link.active {
    background-color: #c6dbf7;
    color: #333;
  }

  .nav-tabs .nav-link:hover {
    background-color: #d9eafc;
    color: #333;
  }

  .btn-login{
    background-color: transparent;
    border: none;
  }

  .btn-login:hover{
    background-color: #c6dbf7;
  }

  #modal-logo{
    position: fixed;
    margin: 5px;
  }

  .form-control.overlay-input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #9ec4f2;
    border-radius: 8px;
    background-color: #c6dbf7;
    color: #d4d4d4;
    outline: none;
    transition: border-color 0.3s ease;
  }

  .form-control.overlay-input:focus {
    border-color: #c6dbf7;
    background-color: #f7faff;
  }

  #topbar-welcome {
    background-color:#9ec4f2; /* Replace with your desired color */
    color: white; /* Adjust text color if necessary */
  }



  /*MAIN*/
  #map{
    margin-right: 40px;
    min-width: 120%;
    min-height: 300px;
  }
  #main-alert{
    position: static;
  }
  
  .main-inputwindow{
    min-width: 120%;
    margin-right: 40px;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:0.5px solid black;
  }

  .main-inputdynamic{
    position: inherit; 
    top: 100%; 
    left: 0; 
    min-width: 100%;
    max-height: 350px; 
    overflow-y: scroll; 
    display: none;
  }
  
  .main-inputexp {
      font-size: 20px;
      margin-right: 10px;
      flex-shrink: 0;
      font-weight: bold;
      text-transform:uppercase;
      color:#414243;
  }

  #main-inputelem {
      margin-top: 60px;
      display: flex;
      justify-content: center;
      flex-grow: 1;
  }

  .main-inputinfo{
    margin-left: 20px;
    font-size: 12px;
    color: #414243;
    font-weight:300;
  }

  #main-buttonarea{
    display: flex;
    gap: 40px;
    margin-top: 80px;
    justify-content: center;
  }

  .button-input{
    font-size: 11px;
    font-weight: bold;
    text-transform:uppercase;
    text-decoration: none;
    text-decoration-color: #414243;
    background-color: transparent;
    width: 200px;
    min-width: 100px;
    padding: 10px;
    border-radius: 5px;
  }

  .button-input:hover{
    text-decoration-color: #414243;
    border-color: #c6dbf7;
  }

  .modell-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .modell-itemamount-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .modell-item{
    color:#414243;
    background-color: #dce2eb88;
    margin: 2px;
    border-radius: 10px;
    flex: 0 2 49%;
    min-width: 300px; 
  }

  .modell-item:hover{
    color: #a1a2a3;
    border: solid 2px;
    border-color: #c6dbf7;
    padding: 10px;
  }

  .modell-itemparameter{
    font-size: 10px;
    position: relative;
  }

  #modell-itemcollapse{
    color: #a1a2a3;
    margin-top: 7px;
  }

  .btn-expand{
    border: none;
    background-color: transparent;
    position: absolute;
    top: -28px;
    right: -5px;
  }

  .btn-expand:hover{
    border: none;
    background-color: transparent;
    position: absolute;
    top: -28px;
    right: -5px;
  }

  .card-body-download{
    position:relative;
  }

  .btn-clipboard {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  /*FOOTER*/
.footer-content {
  overflow: hidden;
}

#footer-logo {
  float: left;
  margin-right: 10px; 
}

#footer-links {
  float: right;
  text-align: left;
  margin: 15px;
}

.footer-group {
  display: block;
  font-size: 15px;
  font-weight: bold;
  color:  #c6dbf7;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#footer-linkoption {
  color: #979ca1;
  font-size: 13px;
  display: block;
  margin: 5px 0;
}

#footer-linkoption:hover,#footer-linkoption:active {
  color: #ededed;
}

#disableOverlay {
  background-color: #9ec4f2;
  border-color: #9ec4f2;
}

/* Welcome Page */

.hover-card {
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.7) !important;
  color: #1C3D86 !important;
  border-color: rgba(0, 0, 0, 0.7) !important;
}

.hover-card:hover {
  background-color: rgba(0, 0, 0,0.1) !important; 
  color: white; 
}

.card:hover {
  transform: none;
  box-shadow: none;
}

.no-hover-card {
  background-color: rgba(0, 0, 0, 0.1);
  color: #1C3D86 !important;
  border-color: rgba(0, 0, 0, 0.7) !important;
}

/* Pageing */
#paginationButtons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageButton{
  margin: 0 5px;
  font-weight: 300 ;
  padding: 5px 10px;
  cursor: pointer;
  border: 0px transparent;
  background-color: transparent;
}

.pageButton:hover{
  margin: 0 5px;
  font-weight: 500 ;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid #1C3D86;
  background-color: transparent;
}

.activePageButton{
  margin: 0 5px;
  font-weight: 500 ;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid #1C3D86;
  background-color: transparent;
}

.modell-itemamount{
  display: flex;
  justify-content: right;
  margin: 20px;
}

.modell-itemamount-button .button-visual {
  font-weight: 300;
  font-size: 10px;
  width: 20px;
  color:#1C3D86;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
}

.modell-itemamount-button:hover .button-visual {
  font-weight: 800;
}

.modell-itemamount-button input:checked + .button-visual {
  font-weight: 800;
}
/* Pageing */
#paginationButtons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageButton{
  margin: 0 5px;
  font-weight: 300 ;
  padding: 5px 10px;
  cursor: pointer;
  border: 0px transparent;
  background-color: transparent;
}

.pageButton:hover{
  margin: 0 5px;
  font-weight: 500 ;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid #1C3D86;
  background-color: transparent;
}

.activePageButton{
  margin: 0 5px;
  font-weight: 500 ;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid #1C3D86;
  background-color: transparent;
}

.modell-itemamount{
  display: flex;
  justify-content: right;
  margin: 20px;
}

.modell-itemamount-button .button-visual {
  font-weight: 300;
  font-size: 10px;
  width: 20px;
  color:#1C3D86;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
}

.modell-itemamount-button:hover .button-visual {
  font-weight: 800;
}

.modell-itemamount-button input:checked + .button-visual {
  font-weight: 800;
}
