  
  #sidebar {
    background-color: #6c757d;
    position: fixed;
    z-index: 1000;
    color: #414243;
    height: 100vh;
  }

  #footer-links{
    float: right;
  }

  #footer-linkoption{
    color:#6c757d;
  }
