/*SIDEBAR*/
  #sidebar {
    background-color: #9ec4f2;
    position: fixed;
    z-index: 1000;
    height: 100vh;
  }

  #sidebar-option{
    color:  #414243 
  }

  #sidebar-option:hover{
    color: #a1a2a3; 
  }

  #sidebar-footerlink{
    color:  #414243 
  }

  #sidebar-footerlink:hover{
    color: #a1a2a3; 
  }

  #sidebar-topbar{
    margin-top: -10px;
  }

  #sidebar-topbaroption{
    border-color: none;
    background-color:none;
    color: #414243;
    font-size: small;
    margin: 10px;
    margin-bottom: -25px;
  }

  #sidebar-topbaroption:hover, #sidebar-topbaroption:active {
    border-color: #cfd1d4;
    background-color: #cfd1d4;
    padding: 10px;
    color: #a1a2a3;
    font-size: small;
    margin-bottom: -25px;
  }

  #sidebar-footerlink{
    color: #414243;
  }

  /*TOPBAR*/

  #topbar{
    height: 50px;
    position: relative;
    flex-shrink: 0;
    background-color: #c6dbf7;
  }

  #topbar-option{
    color: #1C3D86;
  }

  #topbar-option:hover, #topbar-option:active {
    color: #1C3D86;
    background-color:  #9ec4f2;
    padding: 5px;
  }

  #topbar-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

    /* TOPBAR LOGIN MODAL */
  .nav-tabs {
    border: none;
    background-color: #9ec4f2;
    border-radius: 8px;
    overflow: hidden;
  }

  .nav-tabs .nav-link {
    color: #ffffff;
    background-color: #9ec4f2;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
  }

  .nav-tabs .nav-link.active {
    background-color: #c6dbf7;
    color: #333;
  }

  .nav-tabs .nav-link:hover {
    background-color: #d9eafc;
    color: #333;
  }

  .btn-login{
    background-color: transparent;
    border: none;
  }

  .btn-login:hover{
    background-color: #c6dbf7;
  }

  #modal-logo{
    position: fixed;
    margin: 5px;
  }

  .form-control.overlay-input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #9ec4f2;
    border-radius: 8px;
    background-color: #c6dbf7;
    color: #d4d4d4;
    outline: none;
    transition: border-color 0.3s ease;
  }

  .form-control.overlay-input:focus {
    border-color: #c6dbf7;
    background-color: #f7faff;
  }




  /*MAIN*/

  #modell{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  #modell-item{
    color:#414243;
    border: 2px solid;
    border-color: #414243;
    border-radius: 10px;
    flex: 0 2 49%;
    min-width: 300px; 
  }

  #modell-item:hover{
    color: #a1a2a3;
    border: solid 2px;
    border-color: #414243;
    background-color: #c6dbf7;
    padding: 10px;
  }

  #modell-itemparameter{
    font-size: 10px;
  }


  /*FOOTER*/
.footer-content {
  overflow: hidden;
}

#footer-logo {
  float: left;
  margin-right: 10px; 
}

#footer-links {
  float: right;
  text-align: left;
  margin: 15px;
}

.footer-group {
  display: block;
  font-size: 15px;
  font-weight: bold;
  color:  #c6dbf7;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#footer-linkoption {
  color: #979ca1;
  font-size: 13px;
  display: block;
  margin: 5px 0;
}

#footer-linkoption:hover,#footer-linkoption:active {
  color: #ededed;
}